
    
{{ form_start(formUtilisateur) }}

Nom: {{ form_widget(formUtilisateur.nom) }}<br>
Prénom: {{ form_widget(formUtilisateur.prenom) }} <br>
Civilité: {{ form_widget(formUtilisateur.civilite) }} <br>
Date: {{ form_widget(formUtilisateur.date) }} <br>
Téléphone: {{ form_widget(formUtilisateur.telephone) }} <br>
Fax: {{ form_widget(formUtilisateur.fax) }} <br>
Email: {{ form_widget(formUtilisateur.email) }} <br>
Adresse: {{ form_widget(formUtilisateur.adresse) }} <br>
Code_Postal: {{ form_widget(formUtilisateur.codePostal) }} <br>
Villes: {{ form_widget(formUtilisateur.villes) }} <br>
Département: {{ form_widget(formUtilisateur.departements) }}<br>
Pays: {{ form_widget(formUtilisateur.pays) }} <br>
Status: {{ form_widget(formUtilisateur.status) }} <br>
Civilité: {{ form_widget(formUtilisateur.civilite) }} <br>
role: {{ form_widget(formUtilisateur.role) }} <br>
ImageName: {{ form_widget(formUtilisateur.imageName) }} <br>


<button type="submit" class="btn btn-success">envoyer</button>


      
    {{ form_end(formUtilisateur) }}
