{% extends 'base.html.twig' %}

{% block title %}
Modifier un client :
{% endblock %}

{% block content %}
    
    
    <h1>
        Modifier un client :
        </h1>

{{ form_start(formClients) }}

Nom du client: {{ form_widget(formUtilisateur.nom_client) }}<br>
Status: {{ form_widget(formClients.status) }} <br>
Date: {{ form_widget(formUtilisateur.date) }} <br>
Service: {{ form_widget(formClients.service) }} <br>
Facture: {{ form_widget(formClients.facture) }} <br>



<button type="submit" class="btn btn-success">envoyer</button>


      
    {{ form_end(formClients) }}





    {% endblock %}
